#tbAddOwner {
    -fx-graphic: url("/img/add.png");
}
#tbRemoveOwner {
    -fx-graphic: url("/img/delete.png");
}
#tbEditOwner {
    -fx-graphic: url("/img/edit.png");
}
#tbAddVehicle {
    -fx-graphic: url("/img/add.png");
}
#tbRemoveVehicle {
    -fx-graphic: url("/img/delete.png");
}
#tbEditVehicle {
    -fx-graphic: url("/img/edit.png");
}
.poljeIspravno {
    -fx-control-inner-background: greenyellow;
}
.poljeNijeIspravno {
    -fx-control-inner-background: lightpink;
}